<h1>Products</h1>

<h3>Most Recent Products</h3>
<% if @recent_products.any? %>
  <ul>
    <% @recent_products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<p><%= link_to "Create new product", new_product_path %></p>
